name: "release/assets"

on:
  release:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

env:
  RELEASE_TAG: ${{ github.ref_name }}

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: "${{ matrix.task }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - task: release-assets-linux
          - task: release-assets-darwin
          - task: release-assets-windows
    steps:
      - uses: actions/checkout@v6

      - name: Setup runner
        uses: ./.github/actions/setup-runner

      - name: Setup go
        uses: ./.github/actions/setup-go

      - name: Build
        run: |
          make "${{ matrix.task }}"

      - name: Upload assets to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./release-assets/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          promote: false

  plugins:
    name: "assets/plugins"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6

      - name: Setup runner
        uses: ./.github/actions/setup-runner

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Set up ORAS
        uses: oras-project/setup-oras@v1

      - name: Build plugins
        run: |
          mkdir -p ./release-assets/
          make plugins

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Publish azure-tpl-cli
        run: |
          oras push \
            ghcr.io/${{ github.repository }}/azure-tpl-cli:${RELEASE_TAG},latest \
            --artifact-type application/vnd.helm.plugin.v1+json \
            azure-tpl-cli-*.tgz
        working-directory: ./release-assets/

      - name: Publish azure-tpl-getter
        run: |
          oras push \
            ghcr.io/${{ github.repository }}/azure-tpl-getter:${RELEASE_TAG},latest \
            --artifact-type application/vnd.helm.plugin.v1+json \
            azure-tpl-getter-*.tgz
        working-directory: ./release-assets/

      - name: Publish azure-tpl (legacy)
        run: |
          oras push \
            ghcr.io/${{ github.repository }}/azure-tpl:${RELEASE_TAG},latest \
            --artifact-type application/vnd.helm.plugin.v1+json \
            azure-tpl-*.tgz
        working-directory: ./release-assets/

      - name: Upload assets to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./release-assets/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          promote: true
          make_latest: true
